
<center>
    <br />
    <br />
    <div class="row">
        <div class="form-group">
            <label class="form-label" for="co">Culteral Origin </label>
            <input class="co form-control" id="co" type="text" placeholder="Cultural Origin..." />

            <label class="form-label" for="m">Manufacturer</label>
            <input class="m form-control" id="m" type="text" placeholder="Manufacturer..." />

            <label class="form-label" for="mat">Material</label>
            <input class="mat form-control" id="mat" type="text" placeholder="Material..." />

            <label class="form-label" for="con">Conditon</label>
            <input class="con form-control" id="con" type="text" placeholder="Condition..." />

            <input class="btn btn-default" type="button" id="add" value="Add" onclick='Add(this)' />
        </div>
    </div>

            <br />
            <div class="row">
                <div class="table-responsive">
                    <table class="table-condensed table-hover table-bordered" id="AT">
                        <thead class="thead-light">
                            <tr>
                                <th> Cultural Origin  </th>
                                <th> Manufacturer </th>
                                <th> Material </th>
                                <th> Conditon </th>
                                <th> Operations </th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
</center>

